@import "./components/navbar.css";
@import "./pages/Home/home.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");
/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

/*:root {
  --dot-size: 2px;
  --dot-gap: 32px;
  --dot-speed: 4s;
  --dot-color: rgba(0, 0, 0, 0.3);
}*/


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* SCROLL bar */
@supports (scrollbar-width: none) {
  html, body {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
/* SCROLLBAR */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: rgba(229, 233, 239);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #000000;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

html::before {
  content: "";
  position: fixed;
  inset: 0;
  /*background: url("/assets/bg-oceanside.jpg") center/cover no-repeat fixed;*/
  z-index: 0;
}

/* the in-between after background and before cards */
body::before {
  content: "";
  position: fixed;
  pointer-events: none;
  inset: 0;
  background: rgba(255, 255, 255, 0.0);
  z-index: 1;
}

/*
body::after {
  content: "";
  position: fixed;
  inset: calc(-1 * var(--dot-gap));
  pointer-events: none;
  background-image: radial-gradient(circle var(--dot-size), var(--dot-color) 50%, transparent 60%);
  background-size: var(--dot-gap) var(--dot-gap);
  z-index: 2;
  animation: move var(--dot-speed) linear infinite;
  will-change: transform;
}

@keyframes move {
  from { transform: translate3d(0, 0, 0); }
  to   { transform: translate3d(var(--dot-gap), var(--dot-gap), 0); }
}
*/

header {
  position: relative;
  z-index: 3;
  flex: 0 0 auto;
}

main {
  position: relative;
  z-index: 3;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

/*@layer base {
    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
    }

    ::view-transition-old(root) {
        animation-name: fade-out;
    }

    ::view-transition-new(root) {
        animation-name: fade-in;
    }

    @keyframes fade-out {
        to { opacity: 0; }
    }

    @keyframes fade-in {
        from { opacity: 0; }
    }
}*/
